body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  text-align: center;
}
.file-selection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-content: center;
}
.file-selection input[type="file"] {
  margin: 0 auto;
}
canvas {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #14213d;
}
.filters {
  bottom: 9%;
  position: absolute;
  left: 40%;
  margin-bottom: 5px;
  text-align: center;
}
input[type="button"],
input[type="file"] {
  background-color: #14213d;
  border: none;
  border-radius: 5px;
  color: #e5e5e5;
  font-size: 20px;
}
input[type="button"]:last-child:hover {
  background-color: red;
}
input[type="button"]:hover,
input[type="file"]:hover {
  background-color: #fca311;
  cursor: pointer;
}
